.btn-round {
  background-color: rgb(230, 230, 230);
  border-radius: 100%;
  height: 3rem;
  width: 5rem;
}

.btn-equals {
  background-color: green;
  border-radius: 100%;
  height: 3rem;
  width: 5rem;
}

.card {
  background-color: rgb(221, 241, 250);
}
