.container-box {
  margin: 20px 20px 20px 20px;
}

.button {
  background-color: rgb(0, 0, 0);
  padding: 10px 10px 10px 10px;
  color: white;
  border-radius: 10px;
}

.lable {
  margin-right: 10px;
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}
